alabaster==0.7.10
Babel==2.4.0
bleach==2.0.0
decorator==4.0.11
docutils==0.13.1
entrypoints==0.2.2
html5lib==0.999999999
imagesize==0.7.1
ipython-genutils==0.2.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
mistune==0.7.4
nbconvert==5.1.1
nbformat==4.3.0
nbsphinx==0.2.13
pandocfilters==1.4.1
pkg-resources==0.0.0
Pygments==2.2.0
pytz==2017.2
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
testpath==0.3
traitlets==4.3.2
webencodings==0.5.1
